<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<section class="bg-white text-center p-5 mt-4">
    
		<div class="container p-3">
            <h3>SUBSCRIBE NOW</h3>
            
            <div id="mc_embed_signup">
            <form action="https://github.us10.list-manage.com/subscribe/post?u=ff70207eb4d126f671718fc3f&amp;id=b6abe03a3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class=" validate" target="_blank" novalidate> 
                <div id="mc_embed_signup_scroll" class="row flex-fill">
                    

                        <div class="col-lg-7 my-md-2 my-2"> 
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                <label for="mce-EMAIL">Email Address</label>
                                <input type="email" name="EMAIL"  id="mce-EMAIL" class="emailform-control" placeholder="Email Address"  required data-validation-required-message="Please enter your email address.">
                                
                                </div>
                            </div>
                        </div>
                            
                            
                        <div class="col-lg-5 my-md-2 my-2"> 
                            
                            <button type="submit" class="button1 btn btn-primary btn-sm border-0 w-100 mt-2" id="mc-embedded-subscribe">Subscribe Now</button> </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_ff70207eb4d126f671718fc3f_b6abe03a3f" tabindex="-1" value="">
                        </div>
                </div>
            </form>
        </div>
        </div>

      
    </section>

